<article *ngFor="let n of news" [class.old]="isOld(n.publishedOn)">
    <h1><a href="#"> {{ n.title }} </a></h1>
    <img [src]="n.titleImg" alt="Photo">
    <div class="shortstory_text">
        <div class="shortstory_text_info">
            <time datetime=""> {{ n.publishedOn }} </time>
            <a href="#"> {{ n.section }} </a>
        </div>
        <p> {{ n.summary }} </p>
    </div>
    <div class="clear"></div>
    <ul>
      <li> <a href="#"><i class="fa fa-user" aria-hidden="true"></i> {{ n.author }}</a> </li>
      <li> <a href="#"><i class="fa fa-sticky-note" aria-hidden="true"></i> {{ n.infoType }}</a> </li>
      <li> <a href="#"><i class="fa fa-arrow-down" aria-hidden="true"></i></a> <span>{{ n.rating }}</span> <a href=""><i class="fa fa-arrow-up" aria-hidden="true"></i></a> </li>
      <li> <i class="fa fa-eye" aria-hidden="true"></i> <span>{{ n.infoView }}</span> </li>
      <li> <a href=""><i class="fa fa-comment" aria-hidden="true"></i> <span>{{ n.infoComment }}</span></a> </li>
      <li> <a [href]="n.readMore" class="readMore">ЧИТАТЬ ДАЛЕЕ</a> </li>
    </ul>
</article>