<mdl-layout-header-row>
    <mdl-layout-title><a routerLink="/">{{ heading }}</a></mdl-layout-title>
    <mdl-layout-spacer></mdl-layout-spacer>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/articles">Статьи</a>
        <a class="mdl-navigation__link" routerLink="/news">Новости</a>
        <a class="mdl-navigation__link" routerLink="/videos">Видео</a>
        <a class="mdl-navigation__link" routerLink="/overviews">Обзоры</a>
    </nav>
    <mdl-layout-spacer></mdl-layout-spacer>
    <a href="#" id="login">
        <span class="login_dot" id="login_dot_l"></span>
        ВХОД
        <span class="login_dot" id="login_dot_r"></span>
    </a>
    <mdl-layout-spacer></mdl-layout-spacer>
    <form action="">
        <input type="search" placeholder="Поиск">
        <button></button>
    </form>
</mdl-layout-header-row>