mdl-layout-header-row {
    padding: 0;
    
}

input[type="search"] {
    width: 200px;
    padding: 5px 28px 5px 8px;
    font-size: 14px;
    border-radius: 3px;
    /* border: none; */
}

button {
    width: 20px;
    height: 20px;
    border: none;
    background-image: url(../../images/search.png);
    background-size: cover;
    background-color: transparent;
    margin-left: -28px;
    vertical-align: middle;
}

a#login {
    display: block;
    width: 80px;
    height: 30px;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    background: #C9D468;
    text-align: center;
    border-radius: 15px;
    line-height: 30px;
    position: relative
}

a#login:hover {
    background: #C2D423;
}

span.login_dot {
    display: block;
    position: absolute;
    top: 12px;
    width: 4px;
    height: 4px;
    background: #818843;
}

span#login_dot_l {
    left: 10px;
}

span#login_dot_r {
    right: 10px;
}