<mdl-layout-header-row>
    <mdl-layout-title><a routerLink="/">{{ heading }}</a></mdl-layout-title>
    <mdl-layout-spacer></mdl-layout-spacer>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/articles">Статьи</a>
        <a class="mdl-navigation__link" routerLink="/news">Новости</a>
        <a class="mdl-navigation__link" routerLink="/videos">Видео</a>
        <a class="mdl-navigation__link" routerLink="/overviews">Обзоры</a>
    </nav>
    <mdl-layout-spacer></mdl-layout-spacer>
     <!-- Модальное окно входа/регистрации  -->
    <a href="" id="login"> <!-- (click)="showDialog($event)" -->
        <span class="login_dot" id="login_dot_l"></span>
        ВХОД
        <span class="login_dot" id="login_dot_r"></span>
    </a>
    <mdl-layout-spacer></mdl-layout-spacer>
    <form action="">
        <input type="search" placeholder="Поиск">
        <button></button>
    </form>
    <!-- Выпадающее меню -->
    <!-- <button mdl-button #btn2="mdlButton" (click)="m2.toggle($event, btn2)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
    <mdl-menu #m2="mdlMenu" mdl-menu-position="bottom-right">
       <mdl-menu-item mdl-ripple (click)="action()">Some Action</mdl-menu-item>
       <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Another Action</mdl-menu-item>
       <mdl-menu-item mdl-ripple disabled>Disabled Action</mdl-menu-item>
       <mdl-menu-item>Yet Another Action</mdl-menu-item> 
    </mdl-menu> -->
</mdl-layout-header-row>