mdl-layout-content {
    background-color: #F7F7F7;
}

mdl-layout-header {
    border-bottom: 10px solid #B58B8B;
}

app-header {
    width: 1170px;
    margin: auto;
    /* outline: green 1px solid; */
}