footer {
    padding-left: 0;
    padding-right: 0;
}

#wrapper {
    width: 1170px;
    margin: auto;
}

#iFooter {
    text-align: center;
    color: #CCCBCB;
}

#iFooter span {
    text-decoration: line-through;
}

#iFooter a {
    text-decoration: none;
    color: #CCCBCB;
    font-weight: bold;
}

#iFooter a:hover {
    color: #fff;
}