<aside>
  <div id="sidebar__block_menu">
    <div id="sidebar__block_header">
      <h1>КАТЕГОРИИ</h1>
    </div>
    <nav>
      <ul>
        <li><a href=""><i class="fa fa-html5" aria-hidden="true"></i> HTML</a></li>
        <li><a href=""><i class="fa fa-css3" aria-hidden="true"></i> CSS</a></li>
        <li><a href="">JavaScript</a></li>
        <li><a href="">jQuery</a></li>
        <li><a href="">Angular</a></li>
        <li><a href="">Bootstrap</a></li>
        <li><a href="">Программы</a></li>
        <li><a href="">Web</a></li>
        <li><a href="">Полезные решения</a></li>
      </ul>
    </nav>
  </div>
  <div id="sidebar__banner">
    <a href="https://www.youtube.com">ПОСЕТИТЕ <span>НАШ КАНАЛ</span></a>
  </div>
</aside>