<h2>Angular 4 Jump Start. Мастер-класс Дмитрия Охрименко в Terrasoft</h2>
<h3>Программа мастер-класса:</h3>
<ul>
  <li>Что такое Angular. Коротко об истории развития Angular.</li>
  <li>Преимущества Angular. Главные особенности и терминология.</li>
  <li>Зачем Angular разработчику нужен TypeScript?</li>
  <li>Общая архитектура приложений Angular.</li>
  <li>Что нового в Angular 4?</li>
  <li>Создание REST сервиса с использованием ASP.NET MVC WebAPI.</li>
  <li>Создание приложения с маршрутизацией несколькими компонентами и сервисом для работы с backend.</li>
</ul>
  Презентация-<a href="https://goo.gl/ELZxcB">https://goo.gl/ELZxcB</a><br><br>
  Примеры кода-<a href="https://goo.gl/xF7GcF">https://goo.gl/xF7GcF</a><br><br>
  <p>Предварительные требования: Базовые знания HTML и JavaScript.<br><br>
  Ведущий: Дмитрий Охрименко, сертифицированный разработчик и тренер Microsoft, CEO CyberBionic Systematics, автор популярных видео курсов ITVDN по JavaScript, HTML5&CSS3, Angular, ASP.NET MVC, HTML5 Web Components, спикер IT конференций, связанных с веб разработкой. В сентябре 2015 года на конкурсе Ukrainian IT Awards Дмитрий Охрименко был признан лучшим профессионалом в номинации IT Education.<br><br>
  Мастер-класс состоялся 25 октября в киевском офисе компании Terrasoft.<br><br>
  — Terrasoft — продуктовая компания, R&D которой насчитывает свыше 25 скрам-команд. Платформа bpm’online, созданная для управления бизнес-процессами продаж, маркетинга и сервиса, входит в ТОП-15 CRM-систем мира.</p>
  <br>
<iframe width="560" height="415" src="https://www.youtube.com/embed/ka6zZMjWtq8?rel=0" frameborder="0" allowfullscreen></iframe>