<article *ngFor="let n of create.articles">
    <h1><a href="#">{{ n.title }}</a></h1>
    <img [src]="n.titleImg" alt="Photo">
    <div class="shortstory_text">
        <div class="shortstory_text_info">
            <time>{{ n.publishedOn | date:'dd.MM.y, h:mm' }}</time>
            <a href="#">{{ n.section }}</a>
        </div>
        <p> {{ n.summary }} </p>
    </div>
    <div class="clear"></div>
    <ul>
      <li> <a href="#"><i class="fa fa-user" aria-hidden="true"></i> {{ n.author }}</a> </li>
      <li> <a href="#"><i class="fa fa-sticky-note" aria-hidden="true"></i> {{ n.infoType }}</a> </li>
      <li> <a href="#"><i class="fa fa-arrow-down" aria-hidden="true"></i></a> <span>{{ n.rating }}</span> <a href=""><i class="fa fa-arrow-up" aria-hidden="true"></i></a> </li>
      <li> <i class="fa fa-eye" aria-hidden="true"></i> <span>{{ n.infoView }}</span> </li>
      <li> <a href=""><i class="fa fa-comment" aria-hidden="true"></i> <span>{{ n.infoComment }}</span></a> </li>
      <li> <a class="readMore" routerLink="/articles/{{n.id}}">ЧИТАТЬ ДАЛЕЕ</a> </li>
    </ul>
</article>
<nav>
    <a href="" id="navigation__prev"><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i></a>
    <div id="navigation">
        <a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a href="">7</a>
        <a href="">8</a>
    </div>
    <a href="" id="navigation__next"><i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i></a>
</nav>